<!----------------------------------------------------------------------- IMAGEN CON ZOOM ------------------------------------------------------------------------>
<header class="font-Poppins">
    <div >
        <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Imagenes con zoom</div>
        <div class="zoomimage-wrap pb-14">
            <div class="zoomimage"></div>
        </div>
    </div>

<!---------------------------------------------------------------------- IMAGEN CON EFECTO DE HUNDIDO-------------------------------------------------------------->
    <!-- Mision y Vision -->
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Imagen con efecto de hundido</div>
    <section class="fondo-mision-vision  text-white tracking-normal md:tracking-widest xl:px-32 ">
        <div class=" container mx-auto py-3 px-4 sm:px-3 lg:px-7 xl:px-8 2xl:px-10">
            <div class="grid grid-cols-1  sm:grid-cols-2 py-16 sm:py-24 xl:py-28 space-y-4 sm:space-y-0 sm:space-x-5 lg:space-x-10 xl:space-x-40">
                <!-- vision -->
                <div class="animated fadeInUp  transition duration-500  d2 a-1  ease-in-quad  bg-white rounded-3xl  py-10 px-2 sm:px-5 md:px-8 lg:px-10 xl:px-20  bg-opacity-10">
                    <div class="flex items-center text-2xl">
                        <div>  <img src="assets/img/nosotros/vision.svg" alt=""> </div>
                        <span class="ml-2">Visión</span>
                    </div>
                    <p class=" pt-3 leading-relaxed sm:leading-loose">
                        Dedicada a la satisfacción de las necesidades
                        en Seguridad Industrial y Salud Ocupacional.
                        ofreciendo productos y servicios que
                        sobrepasen los más altos
                        estándares de calidad y seguridad mundial
                        satisfaciendo los requerimientos precisos de
                        los usuarios finales, a través de sus
                        organizaciones, empresas nacionales y mundiales.                       
                    </p>
                </div>

                <div class=" animated fadeInUp  transition duration-500   d2 a-1  ease-in-quad  bg-white rounded-3xl  py-10 px-2 sm:px-5 md:px-8 lg:px-10 xl:px-20 bg-opacity-10">
                    <div class="flex  items-center  text-2xl">
                        <div> <img src="assets/img/nosotros/mision.svg" alt=""> </div>
                        <span class="ml-2">Misión</span>
                    </div>
                    <p class=" pt-3 leading-relaxed sm:leading-loose">
                    Ser el líder Nacional en comercialización de 
                    equipos de protección personal, servicio, 
                    asesoría e innovación. 
                    </p>
                </div>
            </div>
        </div>      
    </section>

    <!--------------------------------------------------------------------- TAB PERSONALZIABLE --------------------------------------------------------------------->
    <div >
        <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Tab personalizable</div>
         <!-- section de  tabs -->
         <main class="col-span-6 m-7">  
            <input type="radio" name="buttons" id="r1" class="selector" checked>
            <input type="radio" name="buttons" id="r2" class="selector" checked>
            <input type="radio" name="buttons" id="r3" class="selector" checked>
            <input type="radio" name="buttons" id="r4" class="selector" checked>
            <input type="radio" name="buttons" id="r5" class="selector" checked>
            <div class="controls text-plomo-290 flex gap-9 items-center space-x-5">
                <!-- logo de  punto de  venta -->
                <div class="text-azul-300 flex gap-2 items-center  ">
                    <img class="object-contain w-16" src="assets/img/venta/puntoventa.svg" alt=""><span class="text-xl font-bold whitespace-nowrap">Punto de venta</span>
                </div>
                <!-- Opcionesd e Tabs -->
                <div class="flex  w-full gap-9 pl-5 text-base">
                    <label for="r1" class=" cursor-pointer ">Listado</label>
                    <label for="r2" class=" cursor-pointer ">Control de Pedidos</label>
                    <label for="r3" class=" cursor-pointer ">Traslados</label>
                    <label for="r4" class=" cursor-pointer ">Retorno</label>
                </div>
                
                <!-- Botones de opciones  -->
                <div class="flex items-start col-span-4 w-full space-x-3 justify-end">
                    <button class="border-2 rounded-md px-4 bg-white h-9 focus:outline-none"><img src="assets/img/venta/trespuntos.svg" alt=""></button>
                    <button class="border-2 rounded-md px-4 bg-white h-9 focus:outline-none items-center flex gap-2"><img src="assets/img/venta/filtrar.svg" alt="">Filtrar</button>
                    <button class="border-2 rounded-md px-4 bg-white h-9 focus:outline-none items-center flex gap-2"><img src="assets/img/venta/pedido.svg" alt="">Hacer Pedido</button>
                    <button class="border-2 rounded-md px-4  h-9 focus:outline-none items-center flex gap-2 bg-azul-300 hover:bg-azul-350 text-white"><img src="assets/img/venta/vender.svg" alt="">Vender</button>
                </div>    
            </div>
        
            <div class="main bg-white  mt-3 contenedor ">
                <div class="slides ">
                    <section class="sha">
                        <div class="content">
                            <!-- TABLA Listado de productos -->
                            <div class=" ">
                                <h2 class="text-4xl font-bold">LISTADO</h2>
                            <h3 class="text-2xl text-yellow-400 font-bold">Explore The Nature</h3>
                            <p class="text-plomo-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta accusantium error. </p>
                            
                              </div>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <h2 class="text-4xl font-bold">CONTROL DE PEDIDOS</h2>
                            <h3 class="text-2xl text-yellow-400 font-bold">Explore The Nature</h3>
                            <p class="text-plomo-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta accusantium error. </p>
                            
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <h2 class="text-4xl font-bold">TRASLADOS</h2>
                            <h3 class="text-2xl text-yellow-400 font-bold">Explore The Nature</h3>
                            <p class="text-plomo-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta accusantium error. </p>
                            
                        </div>
                        
                    </section>
                    <section>
                        <div class="content">
                            <h2 class="text-4xl font-bold">RETORNO</h2>
                            <h3 class="text-2xl text-yellow-400 font-bold">Explore The Nature</h3>
                            <p class="text-plomo-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta accusantium error. </p>
                            
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
    
    <!-------------------------------------------------------------------- SLIDER PERSONALIZABLE ---------------------------------------------------------------- -->
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Slider responsive personalizable</div>
    <div class="container-all font-Poppins">
        <input type="radio" id="1" name="image-slide" class="hidden" />
        <input type="radio" id="2" name="image-slide" class="hidden" />
        <input type="radio" id="3" name="image-slide" class="hidden" />
        <div class="slide ">
            <!-- Proteccion Respiratoria -->
            <div class="item-slide relative">
                <img class="sliders" src="assets/img/slider1.svg">
                <div class="absolute flex items-center h-full">
                    <div class="fondoslider01 md:px-28   md:pl-14 lg:pl-16 sm:pl-8 pl-6">
                        <div class="block text-white container mx-auto space-y-3 sm:space-y-5 lg:space-y-9">
                            <div class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                                <code class="db black-40 2xl:text-7xl lg:text-5xl md:text-4xl sm:text-3xl text-xl font-bold font-Poppins text-white ">Protección Respiratoria</code>
                            </div>
                            <div class="animated fadeInUp text-white text-xs md:text-sm lg:text-base 2xl:text-3xl font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose "> Contamos con marcas de calidad y garantia lo mejor <br> para nuestros clientes. </div>
                            <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <button class=" bw1 b fw9 pa3 br3 font-bold border-none  bg-amarillo-500 sm:py-3 py-1 px-3  2xl:py-5 text-black  md:px-6 text-xs md:text-sm 2xl:text-2xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                                Ver Ahora
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proteccion Auditiva -->
            <div class="item-slide relative">
                <img class="sliders" src="assets/img/slider2.svg">
                <div class="absolute flex items-center h-full">
                    <div class="fondoslider01 md:px-28   md:pl-14 lg:pl-16 sm:pl-8 pl-6">
                        <div class="block text-white container mx-auto space-y-3 sm:space-y-5 lg:space-y-9">
                            <div class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                                <code class="db black-40 2xl:text-7xl lg:text-5xl md:text-4xl sm:text-3xl text-xl font-bold font-Poppins text-white ">Protección Auditiva</code>
                            </div>
                            <div class="animated fadeInUp text-white text-xs md:text-sm lg:text-base 2xl:text-3xl font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose "> Contamos con marcas de calidad y garantia lo mejor <br> para nuestros clientes. </div>
                            <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <button class=" bw1 b fw9 pa3 br3 font-bold border-none  bg-amarillo-500 sm:py-3 py-1 px-3  2xl:py-5 text-black  md:px-6 text-xs md:text-sm 2xl:text-2xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                              Ver Ahora
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proteccion de Manos -->
            <div class="item-slide relative">
                <img class="sliders" src="assets/img/slider3.svg">
                <div class="absolute flex items-center h-full">
                    <div class="fondoslider01 md:px-28   md:pl-14 lg:pl-16 sm:pl-8 pl-6">
                        <div class="block text-white container mx-auto space-y-3 sm:space-y-5 lg:space-y-9">
                            <div class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                                <code class="db black-40 2xl:text-7xl lg:text-5xl md:text-4xl sm:text-3xl text-xl font-bold font-Poppins text-white ">Protectores de Manos</code>
                            </div>
                            <div class="animated fadeInUp text-white text-xs md:text-sm lg:text-base 2xl:text-3xl font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose "> Contamos con marcas de calidad y garantia lo mejor <br> para nuestros clientes. </div>
                            <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <button class=" bw1 b fw9 pa3 br3 font-bold border-none  bg-amarillo-500 sm:py-3 py-1 px-3 2xl:py-5 text-black  md:px-6 text-xs md:text-sm 2xl:text-2xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                              Ver Ahora
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Paginacion imagenes pequeña -->
        <div class="pagination">
            <label class="pagination-item " for="1"><img src="assets/img/slider1.svg"></label>
            <label class="pagination-item " for="2"><img src="assets/img/slider2.svg"></label>
            <label class="pagination-item " for="3"><img src="assets/img/slider3.svg"></label>
        </div>
    </div>

    <!--------------------------------------------------------------------- CHECKED PADRES ------------------------------------------------------------------------>
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Checked dependientes e Idependientes</div>
    <section class="flex flex-row space-x-3 p-5 gap-7">
        <div class="text-plomo-370 font-semibold">Genero</div>
        <div class="flex flex-col gap-5">
            <label class="cursor-pointer flex gap-2 items-center">
                <input type="checkbox" class="rounded-sm border-gray-400">
                <div>Mujer</div> 
            </label>
            <label class="cursor-pointer flex gap-2  h-full items-center ">
                <input type="checkbox" class="rounded-sm border-gray-400">
                <div>Hombre</div> 
            </label>
        </div>
        <div class="flex flex-col gap-5">
            <label class="flex cursor-pointer gap-2 items-center">
                <input (click)="onNino($event)" type="checkbox" class="rounded-sm border-gray-400">
                <div>Niño</div> 
            </label>
            <div class="flex  flex-col pl-5 gap-5">
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nino" class="rounded-sm border-gray-400">
                    <div>Infante</div> 
                </label>
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nino" class="rounded-sm border-gray-400" >
                    <div>Pre-Escolar</div> 
                </label>
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nino" class="rounded-sm border-gray-400" >
                    <div>Junior-Jovenes</div> 
                </label>
            </div> 
        </div>
        <div class="flex flex-col gap-5">
            <label class="flex cursor-pointer gap-2 items-center">
                <input (click)="onNina($event)" type="checkbox" class="rounded-sm border-gray-400">
                <div>Niña</div> 
            </label>
            <div class="flex flex-col pl-5 gap-5">
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nina" class="rounded-sm border-gray-400">
                    <div>Infante</div> 
                </label>
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nina" class="rounded-sm border-gray-400">
                    <div>Pre-Escolar</div> 
                </label>
                <label class="flex cursor-pointer gap-2 items-center">
                    <input type="checkbox" [checked]="nina" class="rounded-sm border-gray-400">
                    <div>Junior-Jovenes</div> 
                </label>
            </div> 
        </div>
    </section>  
    <!---------------------------------------------------------------SELECTORES PERSONALIZADOS------------------------------------------------------>
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Selectores Personalizables</div>
    <section class=" grid grid-cols-5 p-10">
        <div class="select col-span-1">
            <select name="format" id="format">
                <option selected disabled>Formatos</option>
                <option value="pdf">PDF</option>
                <option value="txt">txt</option>
                <option value="epub">ePub</option>
                <option value="fb2">fb2</option>
                <option value="mobi">mobi</option>
            </select>
        </div>
        <div class="select col-span-1">
            <select name="format" id="format">
                <option selected disabled>Formatos</option>
                <option value="pdf">PDF</option>
                <option value="txt">txt</option>
                <option value="epub">ePub</option>
                <option value="fb2">fb2</option>
                <option value="mobi">mobi</option>
            </select>
        </div>
        <div class="select col-span-1">
            <select name="format" id="format">
                <option selected disabled>Formatos</option>
                <option value="pdf">PDF</option>
                <option value="txt">txt</option>
                <option value="epub">ePub</option>
                <option value="fb2">fb2</option>
                <option value="mobi">mobi</option>
            </select>
        </div>
        <div class="select col-span-1">
            <select name="format" id="format">
                <option selected disabled>Formatos</option>
                <option value="pdf">PDF</option>
                <option value="txt">txt</option>
                <option value="epub">ePub</option>
                <option value="fb2">fb2</option>
                <option value="mobi">mobi</option>
            </select>
        </div>
        <div class="select col-span-1">
            <select name="format" id="format">
                <option selected disabled>Formatos</option>
                <option value="pdf">PDF</option>
                <option value="txt">txt</option>
                <option value="epub">ePub</option>
                <option value="fb2">fb2</option>
                <option value="mobi">mobi</option>
            </select>
        </div>
    </section>
    <!-- Animaciones de Botones -->
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Botones Personalizables</div>
    <section class="bg-blue-700">
        <div class="frame">
            <button class="custom-btn btn-1">Read More</button>
            <button class="custom-btn btn-2">Read More</button>
            <button class="custom-btn btn-3"><span>Read More</span></button>
            <button class="custom-btn btn-4"><span>Read More</span></button>
            <button class="custom-btn btn-5"><span>Read More</span></button>
            <button class="custom-btn btn-6"><span>Read More</span></button>
            <button class="custom-btn btn-7"><span>Read More</span></button>
            <button class="custom-btn btn-8"><span>Read More</span></button>
            <button class="custom-btn btn-9">Read More</button>
            <button class="custom-btn btn-10">Read More</button>
            <button class="custom-btn btn-11">Read More<div class="dot"></div></button>
            <button class="custom-btn btn-12"><span>Click!</span><span>Read More</span></button>
            <button class="custom-btn btn-13">Read More</button>
            <button class="custom-btn btn-14">Read More</button>
            <button class="custom-btn btn-15">Read More</button>
            <button class="custom-btn btn-16">Read More</button>
          </div>
    </section>
    <!-- Animacion de border dde botones -->
    <div class="flex justify-center p-4 text-2xl bg-blue-500 text-white">Botones con border en movimiento</div>
    <section class="flex justify-center bg-plomo-900">
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon button
        </a>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon button
        </a>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon button
        </a>
    </section>
  
    <section>
        <div class="dropdown">
            <button id='clickable' class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
            </div>
          </div>
    </section>

</header>

     
